- provide(:title, "Coding Bootcamp")
#intro
  .page_centered
    %h1
      \ #code9ty
    %a{data: { open:'video_reveal' }}
      = image_tag('play.png')
    %h2
      Coding Bootcamp
    %button.button.success.shadowed{'data-open' => 'instructions'}
      - if @open
        Apply Now!
      - else
        Application starts #{next_intake_date}
#we_are
  .row
    .medium-4.columns
      = fa_icon('code')
      %h3 Learn to code
      %p Are you interested in coding ? Then you are in the right place.
      Code9ty provides a platform to learn how to build interactive web applications 
      in our coding bootcamp.
      It is fun and interactive ninety days of hands on skills. Don't believe us?
      Check the photos below: 
    .medium-4.columns
      = fa_icon('code-fork')
      %h3 Why 90
      %p Code9ty in an interactive  and diverse program that involves intense coding for 90
      consecutive days. You get to keep track of your daily progress using the useful
      version control software-Git. All this sums up to 90 days of supercharging your brains
      with technologies that will make you one of the best rails developers around.
    .medium-4.columns
      = fa_icon('laptop')
      %h3 Prequalification
      %p Before you apply kindly ensure that :-
      %p You are interested in learning new ideas
      %p Are available for 90 days
      %p You have a working laptop

#cohort
  %h2 We don't just code
  .row.collapse.medium-9.columns
    .small-up-1.medium-up-4
      - 8.times do |n|
        .column.pic
          .item-wrap
            = image_tag "good_time/th/0#{n}.jpg", class: 'thumbnail'
            .overlay
              .centered-text
                %h3 Its always a good time #{fa_icon('smile-o')}
                come join the fun!
    %p
      It's always a good time #{fa_icon('smile-o')}
#feedback
  %h2 What they had to say
  -# Andy, Getty, Kevo, Cess, Mussa, Stl, Oliver
  .row.collapse.medium-9.columns
    .orbit{"aria-label" => "#Code90 Beneficiaries", "data-orbit" => "", :role => "region"}
      %button.orbit-previous
        %span.show-for-sr Previous Slide
        &#9664;&#xFE0E;
      %button.orbit-next
        %span.show-for-sr Next Slide
        &#9654;&#xFE0E;
      %ul.orbit-container
        %li.orbit-slide.is-active
          .row
            .medium-3.columns
              .beneficiary-image= gravatar_for(find_me("andystudy4@gmail.com"))
            %p.beneficiary-message When I joined #code9ty I could only build static and boring web pages, but now I can confidently develop complete, responsive and interactive websites and web applications. All thanks to the intensive web development program at #code9ty!
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= gravatar_for(find_me("gettyorawo@gmail.com"))
            %p.beneficiary-message My experience at LakeHub, specifically #code9ty, has been phenominal and amazing. I learnt to rock on Rails in just 90 days and I can proudly say that I'm now good at it.
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= gravatar_for(find_me("kevinochieng548@gmail.com"))
            %p.beneficiary-message This has been a life-changer for me. It is the biggest step in my career as a developer. It has been great and real coding with the great code9ty team.
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= gravatar_for(find_me("cessmbuguar@gmail.com"))
            %p.beneficiary-message I'm glad I came. Coding has never been the same since the first day at #code9ty.
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= gravatar_for(find_me("stellamarisnjage@gmail.com"))
            %p.beneficiary-message I hated my course and always thought that I pursued the wrong career. But after #code9ty I am a proud woman in tech and everyday is a new coding experience.
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= gravatar_for(find_me("amokem@yahoo.com"))
            %p.beneficiary-message Coding has not been my thing until I met this wonderful team at #code9ty. My entire coding perspective has changed. Am glad and happy that I joined the group.
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= gravatar_for(find_me("oliverokwaro@gmail.com"))
            %p.beneficiary-message Signing up for #code9ty is one of the greatest decisions I made in my career. It enabled me to demistify the myth behind coding and made it fun. I will always be greatful for all the assistance offered.
      %nav.orbit-bullets
        %button.is-active{"data-slide" => "0"}
          %span.show-for-sr First slide details.
          %span.show-for-sr Current Slide
        %button{"data-slide" => "1"}
          %span.show-for-sr Second slide details.
        %button{"data-slide" => "2"}
          %span.show-for-sr Third slide details.
        %button{"data-slide" => "3"}
          %span.show-for-sr Fourth slide details.
        %button{"data-slide" => "4"}
          %span.show-for-sr Second slide details.
        %button{"data-slide" => "5"}
          %span.show-for-sr Second slide details.
        %button{"data-slide" => "6"}
          %span.show-for-sr Second slide details.

- if @open
  = render 'static_pages/application_reveal'
  #instructions.reveal.small{'data-reveal' => '', 'data-animation-in' => 'scale-in-up', 'data-animation-out' => 'hinge-out-from-top'}
    %p
      Please read the prerequisites of this program then proceed to apply
    %p
      In brief these are some of the things you need to know
    %ul
      %li You should be available everyday from start date to the last day
      %li You should have a working laptop :-)
      %li You DO NOT need prior knowledge in programming to be considered. Come on! We will make you the GURU
    %p
      Please note that for this cohort we are charging a facilication fee of Ksh. 30,000.00 for the 3 months. However on the reporting
      day you must have Ksh.20,000. The rest can be completed within the first 4 weeks.
    %h4 Student?
    %p
      For students we have a 66% discount, for the whole duration you pay Kshs. 10,000.00
    %button.button{'data-open' => 'apply_reveal'}
      proceed and apply
%footer#footer
  This website was developed by the first #Code9ty cohort </br>
  %small
    check it out #{link_to 'here', 'https://github.com/code9ty/website'} on github </br>
  &copy; Code9ty 2016 </br>
