#intro
  .page_centered
    %h1
      \ #code9ty
    = fa_icon('play-circle-o')
    %p
      Rock On Rails!
    %button.button.success.shadowed{'data-open' => 'apply_reveal'}
      Apply Now!
#we_are
  .row
    .medium-4.columns
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .medium-4.columns
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .medium-4.columns
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
#apply
  %h2 Application Open!
  %button.button.success.shadowed{'data-open' => 'apply_reveal'}
    Apply Now!
  - render "application_reveal"

#cohort
  %h2 Check this out
  .row.collapse.medium-9.columns
    .small-up-1.medium-up-4
      - 8.times do
        .column
          .item-wrap
            = image_tag 'girl.jpg', class: 'thumbnail'
            .overlay
              %h3 Lorem 
#feedback
  %h2 What they had to say
  -# .flex-video.vimeo
  -#   %iframe{ width: '400', height: '225', src: 'https://player.vimeo.com/video/388727', frameborder: '0' }
  .row.collapse.medium-9.columns
    .orbit{"aria-label" => "#Code90 Beneficiaries", "data-orbit" => "", :role => "region"}
      %button.orbit-previous
        %span.show-for-sr Previous Slide
        &#9664;&#xFE0E;
      %button.orbit-next
        %span.show-for-sr Next Slide
        &#9654;&#xFE0E;
      %ul.orbit-container
        %li.orbit-slide.is-active
          .row
            .medium-3.columns
              .beneficiary-image= image_tag 'girl.jpg', class: 'thumbnail'
            %p.beneficiary-message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.  
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= image_tag 'girl.jpg', class: 'thumbnail'
            %p.beneficiary-message Morem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= image_tag 'girl.jpg'
            %p.beneficiary-message Norem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.
      %nav.orbit-bullets
        %button.is-active{"data-slide" => "0"}
          %span.show-for-sr First slide details.
          %span.show-for-sr Current Slide
        %button{"data-slide" => "1"}
          %span.show-for-sr Second slide details.
        %button{"data-slide" => "2"}
          %span.show-for-sr Third slide details.
        %button{"data-slide" => "3"}
          %span.show-for-sr Fourth slide details.
  



%footer#footer
