#intro
  .page_centered
    %h1
      \ #code9ty
    %a{data: { open:'video_reveal' }}
      = image_tag('play')
    %p
      Rock On Rails!
    %button.button.success.shadowed{'data-open' => 'apply_reveal'}
      Apply Now!
#we_are
  .row
    .medium-4.columns
      = fa_icon('code')
      %h3 Learn code
      %p Are you a tech enthuasist ? Having you ever wished to learn how to code in an intreactive and interesting way? Then you are probably in the right place. At code9ty we learn code, have fun and supercharge our brains.
    .medium-4.columns
      = fa_icon('code-fork')
      %h3 Why 90
      %p code9ty in an interactive program with people form diverse background, anyone be accepted in it. 90 represents 90 days of continuous of fun and coding,during the duration we ensure that we write code daily and commit daily in our github accounts. We also learn new ideas daily and gather wide variety of knowlegde and the most exciting part of it is the bonding and mad fun that happen during our Keep awake sessions
    .medium-4.columns
      = fa_icon('laptop')
      %h3 Prerequisite 
      %p Before you apply kindly ensure that :-
      %p You are interested in learning new ideas
      %p Are available for 90 days
      %p You have a working laptop
-# #apply
  %h2 Application Open!
  %button.button.success.shadowed{'data-open' => 'apply_reveal'}
    Apply Now!
  - render "application_reveal"

#cohort
  %h2 We don't just code
  .row.collapse.medium-9.columns
    .small-up-1.medium-up-4
      - 8.times do |n|
        .column.pic
          .item-wrap
            = image_tag "good_time/th/0#{n}.jpg", class: 'thumbnail'
            .overlay
              %h3 Lorem 
    %p
      It's always a good time #{fa_icon('smile-o')}
#feedback
  %h2 What they had to say
  -# .flex-video.vimeo
  -#   %iframe{ width: '400', height: '225', src: 'https://player.vimeo.com/video/388727', frameborder: '0' }
  .row.collapse.medium-9.columns
    .orbit{"aria-label" => "#Code90 Beneficiaries", "data-orbit" => "", :role => "region"}
      %button.orbit-previous
        %span.show-for-sr Previous Slide
        &#9664;&#xFE0E;
      %button.orbit-next
        %span.show-for-sr Next Slide
        &#9654;&#xFE0E;
      %ul.orbit-container
        %li.orbit-slide.is-active
          .row
            .medium-3.columns
              .beneficiary-image= image_tag 'girl.jpg', class: 'thumbnail'
            %p.beneficiary-message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.  
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= image_tag 'girl.jpg', class: 'thumbnail'
            %p.beneficiary-message Morem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.
        %li.orbit-slide
          .row
            .medium-3.columns
              .beneficiary-image= image_tag 'girl.jpg'
            %p.beneficiary-message Norem ipsum dolor sit amet, consectetur adipisicing elit. Unde harum rem, beatae ipsa consectetur quisquam. Rerum ratione, delectus atque tempore sed, suscipit ullam, beatae distinctio cupiditate ipsam eligendi tempora expedita.
      %nav.orbit-bullets
        %button.is-active{"data-slide" => "0"}
          %span.show-for-sr First slide details.
          %span.show-for-sr Current Slide
        %button{"data-slide" => "1"}
          %span.show-for-sr Second slide details.
        %button{"data-slide" => "2"}
          %span.show-for-sr Third slide details.
        %button{"data-slide" => "3"}
          %span.show-for-sr Fourth slide details.
  



%footer#footer
