<% provide(:title, "Learn to code")%>
<% set_meta_tags description: "We cover everything you need to become a world
class developer and the 'Guru' :-) . This is an overview of  our outline"%>
<% set_meta_tags image_src: 'https://s3-us-west-2.amazonaws.com/code9ty/edt.jpg'
%>
<% set_meta_tags keywords: %w[learn code kisumu kenya ruby rails attachment
internship]%>
<div id='what_we_do'>
    <h1>Learn to code in 13 weeks</h1>
    <div class="row small-up-1 medium-up-3" >
        <div class="column">
            <%= image_tag 'outline/browser.png', size: '64x64'%>
            <h2>Week One</h2>
            <h3>Introduction to object oriented programming</h3>
            <p>
            This module assumes little or no knowledge on programming in any
            language, you are introduced to the world of programming using using
            the object oriented paradigm. To be covered is the basics of oop
            </p>
        </div>

        <div class="column">
            <%= image_tag 'outline/coding.png', size: '64x64'%>
            <h2>Week Two</h2>
            <h3>Advanced object oriented programming</h3>
            <p>
            By this week you are able to understand advanced concepts of object
            oriented programming. We use ruby as a our choice to show case the
            more advanced features
            </p>
        </div>

        <div class="column">
            <%= image_tag 'outline/renting.png', size: '64x64'%>
            <h2>Week Three</h2>
            <h3>Introduction to test driven development</h3>
            <p>
            Every code written must be tested even if it is being done manually.
            We encourage writing automated tests during software development, so
            we introduce it this early in the bootcamp. We use minitest and
            rspec for doing tests in ruby
            </p>
        </div>

        <div class ="column">
            <hr>
            <%= image_tag 'outline/mozilla.png', size: '64x64'%>
            <h2>Week Four</h2>
            <h3>Introduction to the web</h3>
            <p>
            How does the web really work? How do communication happen between
            computers?
            We will also introduce html, css and responsive design
            Serving simple websites using sinatra, a ruby library
            </p>
        </div>

        <div class="column">
            <hr>
            <%= image_tag 'outline/javascript.png', size: '64x64'%>
            <h2>Week Five</h2>
            <h3>Javascript and front end frameworks</h3>
            <p>
            Javascript is core to the web world, we take a week to have a look
            at its beauty and use a front end framework to show its power. This
            will be ember.js or angular.js
            </p>
        </div>

        <div class='column'>
            <hr>
            <%= image_tag 'outline/server.png', size: '64x64'%>
            <h2>Week Six</h2>
            <h3>Working with databases and storing data</h3>
            <p>
            Some data needs to be stored permanently, we do sql and nosql based
            databases during this module. Sinatra is introduced to consolidate
            all the previous 5 modules
            </p>
        </div>

        <div class='column'>
            <hr>
            <%= image_tag 'outline/bulldozer.png', size: '64x64'%>
            <h2>Week Seven</h2>
            <h3>Project 1 </h3>
            <p>
            This project covers all the technologies learnt to this point.
            </p>
        </div>

        <div class="column">
            <hr>
            <%= image_tag 'outline/computer.png', size: '64x64'%>
            <h2>Week Eight</h2>
            <h3>Introduction to software as a service</h3>
            <p>
            We learn how to design and implement centrally hosted software.
            Ruby on Rails will be used as a classic example of this. Software
            documentation and agile development is also covered.
            </p>
        </div>

        <div class = "column">
            <hr>
            <%= image_tag 'outline/configuration.png', size: '64x64'%>
            <h2>Week Nine</h2>
            <h3>Advanced Software as a service concepts</h3>
            <p>
            Advancing our knowledge in week eight, we cover design patterns for
            saas classes, perfomance, releases reliability and security of our
            app
            </p>
        </div>


        <div class = "column">
            <hr>
            <%= image_tag 'outline/people.png', size: '64x64'%>
            <h2>Week ten</h2>
            <h3>Project 2: Pair programing and collaboration concepts</h3>
            <p>
            Second project to strengthen the ability to pair program and
            enhance collaboration skills. Project involves all that has been
            learnt so far, advanced git concepts for collaboration and
            collaboration tools like waffle, pivotal tracker etc.
            </p>
        </div>


        <div class = "column">
            <hr>
            <%= image_tag 'outline/cone.png', size: '64x64'%>
            <h2>Week eleven and twelve</h2>
            <h3>Project 3: Final Project</h3>
            <p>
            Projects done as individual. The first saas app created employing
            all the concepts learnt so far in the modules.
            </p>
        </div>


        <div class = "column">
            <hr>
            <%= image_tag 'outline/computer-1.png', size: '64x64'%>
            <h2>Week thirteen</h2>
            <h3>Working on legacy code and opensource projects</h3>
            <p>
            Not every code you will be able to write from scratch or document
            so well. We show you how to approach legacy code. We join an online
            community of existing open source projects where you take part in
            real world projects
            </p>
        </div>
    </div>

    <section id='note'>

        We wake up everyday to make this better, it is hence subject to change for
        depending on the feedback and industry requirements
        <br>
        &copy;code9ty 2016

    </section>
</div>
