<div class="row" id="top_row" align="center">
    <div class="medium-4 columns">
        <p> 
        <%= image_tag 'ruby.png', width: 80, height: 80 %><br>

        Ruby is a dynamic, open source programming language 
        with a focus simplicity and productivity.
        It has an elegant syntax that is natural to read and easy to write.
        <%= link_to "Learn more", "https://github.com/code9ty/what_we_do/blob/master/ruby.md" %> </p>
    </div>
    <div class="medium-4 columns">
        <p>
        <%= image_tag 'github.png', width: 80, height: 80 %>
        <br>
        Git is a free and open source distributed version control system designed to handle everything
        from small to very large projects with speed and efficiency
        <%= link_to "Learn more", "https://github.com/code9ty/what_we_do/blob/master/git.md"%> </p>

    </div>

    <div class="medium-4 columns">
        <p>
        <%= image_tag 'jquery.png', width: 80, height: 80 %>
        <br>
        jQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML.
        jQuery is the most popular JavaScript library in use today.
        <%= link_to "Learn more", "https://github.com/code9ty/what_we_do/blob/master/jquery.md"%> </p>

    </div>
</div>
<div class="row" align="center"> 
    <div class ="medium-4 columns">
        <p>
        <%= image_tag 'frame.png', width: 80, height: 80 %>
        <br>
        A web framework or web application framework is a software framework that is designed to
        support the development of web applications including web services, web resources and web APIs.
        Web frameworks aim to alleviate the overhead associated with common activities performed in web development.
        <%= link_to "Learn more", "https://github.com/code9ty/what_we_do/blob/master/frame_works.md" %> </p>

    </div>
    <div class="medium-4 columns">
        <p>
        <%= image_tag 'vim.png', width: 80, height: 80 %>
        <br>
        Vim is an advanced text editor that seeks to provide the power of the de-facto Unix editor
        'Vi', with a more complete feature set.
        It's useful whether you're already using vi or using a different editor.
        <%= link_to "Learn more", "https://github.com/code9ty/what_we_do/blob/master/vim.md" %> </p>

    </div>
    <div class"medium-4 columns">
        <p>
        <%= image_tag 'rails.png', width: 100, height: 80 %>
        <br>
        Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity.
        It encourages beautiful code by favoring convention over configuration.
        <%= link_to "Learn more", "https://github.com/code9ty/what_we_do/blob/master/rails.md" %> </p>

    </div>

</div>

