<%= form_for @assignment do |f| %>
  <div class="medium-12 columns">
    <%= f.text_field :title, placeholder: "Project Title" %>
  </div>
  <div class="medium-12 columns">
    <%= f.text_field :link, placeholder: "e.g http://www.example.com" %>
  </div>
  <div class="medium-12 columns">
    <%= f.text_area :description, placeholder: "Project description" %>
  </div>
  <div class="medium-12 columns">
    <div class="callout medium-5 columns">
      <%= f.label :due_date, "Due Date" %>
      <%= f.date_select :due_date %>
    </div>
    <div class="callout medium-5 columns">
      <%= f.label :start_date, "Start Date" %>
      <%= f.date_select :start_date %>
    </div>
  </div>
  <div class="medium-12 columns">
    <%= f.submit "Create Assignment", class: "button" %>
  </div>
<% end %>
