<% provide(:title: "New comment")%>
<%= form_for([@user, @comment]) do |f| %>
  <%= f.label :learnt %>
  <%= f.text_area :learnt, rows: 3 %>
  <%= f.label :problem %>
  <%= f.text_area :problem, rows:3 %>
  <%= f.label :possible_fix, "How i fixed a problem/ How i think it can be fixed" %>
  <%= f.text_area :possible_fix, rows:3 %>
  <%= f.label :rating, "Out of 10 how was the day?" %>
  <div class="row">
    <div class="small-9 columns">
      <div class="slider" data-slider data-initial-start="0" data-step="1" data-end="10">
        <span class="slider-handle"  data-slider-handle role="slider"  aria-controls="sliderOutput2"></span>
        <span class="slider-fill" data-slider-fill></span>
      </div>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :rating, type: "number", id: "sliderOutput2" %>
    </div>
  </div>
  <%= f.label :suggestions, "What can we make better today?" %>
  <%= f.text_area :suggestions, rows: 3 %>
  <%= f.submit "Submit", class: "button" %>
<% end %>
