- provide(:title, 'Bids')
%h2 Requests
%table
  %thead
    %tr
      %th User
      %th Project Requested
      %th Action
  %tbody
    - @requested.each do |request|
      %tr
        %td #{request.user.full_name}
        %td #{request.project.title}
        %td
          %span#assign-link
            %a{'data-open' => 'assign-modal'} Assign
          %span#reject-link
            = link_to "Reject"

      .reveal#assign-modal{ 'data-reveal' => true }
        %h3 Number of days
        = form_tag('/assign', method: :get) do
          .medium-12.columns
            = label_tag 'days', 'How many days from today?'
            = number_field_tag 'days', 14
          .medium-6.columns
            = label_tag 'start_date', 'Start Date'
            = date_field_tag 'start_date', Time.zone.now
          .medium-6.columns
            = label_tag 'due_date', 'Due Date'
            = date_field_tag 'due_date'
          = hidden_field_tag 'bid', request.id
          .medium-12.columns
            = submit_tag 'Assign', class: 'button expanded'

%h2 Assigned Projects
%table
  %thead
    %tr
      %th User
      %th Project Assigned
      %th Action
  %tbody
    - @assigned.each do |assigned_project|
      %tr
        %td #{assigned_project.user.full_name}
        %td #{assigned_project.project.title}
