<% provide(:title, "Applicants")%>
<h1>Applicants for Code90</h1>
There are <%= pluralize(@applicants.count, "applicant") %> so far
<table>
    <tr>
        <th>Name</th>
        <th>Github</th>
        <th>Accept?</th>
        <th>Delete</th>
        <th>Mobile</th>
        <th>Email
    </tr>
    <% @applicants.each do  |geek| %>
        <tr>
            <td><%= geek.first_name %></td>
            <td><%= geek.github %></td>
            <td><%= link_to "YES",accept_path(geek: geek.id, status: "accept") %></td>
            <td> <%= link_to 'Delete', applicant_path(geek), method: :delete, data: { confirm: "Delete #{geek.first_name}?" } %></td>
            <td><%= geek.mobile_number %></td>
            <td><%= geek.email %></td>
        </tr>
    <% end %>
</table>

