<% provide(:title, "Signup")%>
<div class="columns">
  <div class='row'>
    <div class='medium-8 medium-centered columns'>
      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |msg| %>
          <li class='form-error'>
            <%= msg %>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
    <%= form_for(@user, url: users_path, method: :post, as: :user) do |f| %>
      <div class='row'>
        <div class='medium-8 columns medium-centered'>
          <h1>Register</h1> 
          <div class='medium-6 columns'>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, readonly: @readonly%>
          </div>
          <div class='medium-6 columns'>
            <%= f.label :last_name %>
            <%= f.text_field :last_name , readonly: @readonly%>
          </div>
          <div class='medium-6 columns'>
            <%= f.label :university %>
            <%= f.text_field :university %>
          </div>
          <div class='medium-6 columns'>
            <%= f.label :year_of_study %>
            <%= f.text_field :year_of_study %>
          </div>
          <div class='medium-6 columns'>
          <%= f.label :github, "Github url"%>
          <%= f.text_field :github  %>
          </div>
          <div class='medium-6 columns'>
          <%= f.label :mobile_number %>
          <%= f.text_field :mobile_number, readonly: @readonly %>
          </div>
          <div class='medium-12 columns'>
          <%= f.label :email %>
          <%= f.text_field :email, readonly: @readonly %>
          </div>
          <div class='medium-6 columns'>
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "At least 6 characters" %>
          </div>
          <div class='medium-6 columns'>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
          </div>
          <div class='medium-12 columns'>
            <%= f.button "Save details",type: "submit", class: "button expanded" %>
          </div>
        </div>
      </div>
    <% end %>
</div>
