<div class="columns">
    <% if @user.errors.any? %>
        <% @user.errors.full_messages do |message| %>
            <label for="" class="error"> <%= message %> </label>
            <% end %>
    <% end %>
    <h1>Register</h1>
    <%= form_for @user do |f| %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
        <%= f.label :university %>
        <%= f.text_field :university %>
        <%= f.label :year_of_study %>
        <%= f.text_field :year_of_study %>
        <%= f.label :github, "Github url" %>
        <%= f.text_field :github %>
        <%= f.label :mobile_number %>
        <%= f.text_field :mobile_number %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.button "Save details",type: "submit", class: "button expanded" %>
    <% end %>
</div>
