<% provide(:title, "Profiles")%>
<div id='profile'>
  <h4 id="msg">Meet some the First Cohort #Code9ty members.<br>
    Feel free to check their projects on Github </h4>
  <div class="row medium-10 columns" data-equalizer>
    <div class="small-up-1 medium-up-3">
      <% @users.each do |user| %>
        <div class='column'>
          <div class='callout'  data-equalizer-watch>
            <%= gravatar_for user %>
            <p><%= fa_icon('user', text: user.full_name) %> </p>
            <p> <%= link_to  fa_icon('github', text: user.github), user.github %> </p>
            <p> <%= fa_icon('users') %> Awesome Akaringular </p>
            <% if user.testimony %>
              <hr>
              <p class='testimony'> <%= user.testimony %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
