- content_for(:title, "#{@user.full_name} Feedback Page")
.medium-3.columns.hide-for-small-only
  .callout
    %h4
      %strong
        Current Projects:
    - if @bids.any?
      - @bids.each do |bid|
        - unless bid.requested?
          %p
            = bid.project.title
            %br
            %small
              #{remaining_days(bid)} remaining (#{percentage_remaining(bid)}  %)
            %div{:class=>"progress #{coloring(bid)}", :role=>"progressbar", :tabindex=>"0","aria-valuenow"=>"50","aria-valuemin"=>"0","aria-valuetext"=>"50 percent","aria-valuemax"=>"100"}
              %div{:class=>"progress-meter", :style=>"width: #{percentage_remaining(bid)}%"}

  .callout
    %h4
      %strong
        Assignments
    - if @assignments.any?
      - @assignments.each do |assignment|
        %p
          = assignment.title
          %br
          %small
            #{remaining_days(assignment)} remaining (#{percentage_remaining(assignment)}  %)
          %div{:class=>"progress #{coloring(assignment)}", :role=>"progressbar", :tabindex=>"0","aria-valuenow"=>"50","aria-valuemin"=>"0","aria-valuetext"=>"50 percent","aria-valuemax"=>"100"}
            %div{:class=>"progress-meter", :style=>"width: #{percentage_remaining(assignment)}%"}
        %p
          = link_to assignment.link, assignment.link
        %p
          = assignment.description

.medium-8.columns
  = render 'comments/comments_form'
