%tr
  %td #{bid.project.title}
  - if bid.due_date.nil?
    %td _
  - else
    %td
      = bid.due_date.strftime('%A, %b-%d')
      ="(#{ time_ago_in_words(bid.due_date)})"
  %td #{bid.status}
  - if bid.status == "requested"
    %td #{ link_to "Cancel Request", bid, method: :delete }
