<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!-- off-canvas title bar for 'small' screen -->
        <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
            <div class="title-bar-left">
                <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
                <span class="title-bar-title">Menu</span>
            </div>
        </div>
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <h1 id="code90header">#Code90</h1>
            <ul class="vertical dropdown menu" data-dropdown-menu>
                <li> <%= link_to "#Code90", root_url %></li>
                <% if logged_in? %>
                    <li> <% link_to  "Logout",logout_path, method: "delete"%></li>
                    <li> <%= link_to  "#{current_user.full_name}", user_path(current_user)%></li>
                <% else %>
                    <li> <%= link_to  "Login", login_path%></li>
                <% end %>
            </ul>
        </div>

        <div class="top-bar" id="widemenu">
            <div class="top-bar-left">
                <ul class="menu">
                    <li> <%= link_to "Home", root_url %></li>
                </ul>
                <ul class="dropdown menu" data-dropdown-menu>
                    <!-- <li class="menu-text"><a href="/">Home</a></li> -->
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <% if logged_in? %>
                        <li> <%= link_to  "#{current_user.full_name}", user_path(current_user)%></li>
                        <li> <% link_to  "Logout",logout_path, method: "delete"%></li>
                    <% else %>
                        <li> <%= link_to  "Login", login_path%></li>
                    <% end %>
                </ul>
            </div>
        </div>
