<div data-sticky-container>
    <div class="top-bar" data-sticky id="widemenu" data-options="marginTop:0;"  style="width:100%" data-top-anchor="1" >
        <div class="top-bar-left">
            <ul class="menu">
                <% if logged_in? %>
            <li> <%= link_to "Home", user_path(current_user) %></li>
        <% else %>
            <li> <%= link_to 'Home', home_path %></li>
        <% end %>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <% if logged_in? %>
                    <% if current_user.admin? %>
                        <li> <%= link_to "Dashboard" , dashboard_path %></li>
                        <li> <%= link_to "Bids" , bids_path %></li>
                    <% end %>
                    <li> <%= link_to "Projects", projects_path %> </li>
                    <li> <%= link_to "Edit Feedback", edit_user_comment_path(current_user) %> </li>
                    <li> <%= link_to  "Feedback", feedback_path%></li>
                <% else %>
                    <li> <%= link_to 'What we learn', '#' %></li>
                    <li> <%= link_to 'Apply', apply_path %></li>
                    <li> <%= link_to  "Login", login_path%></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
